

{{> navbar}}
<div class="container">
   

<div class="row mt-5">
  <div class="col-6"><h5>events</h5></div>
  <div class="col-6 justify-content-end">
    <a href="events/addEvent" type="button" class="btn btn-primary align-self-center mb-3">Add Event</a>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col"> Date</th>
      <th scope="col">Status</th>
      <th scope="col">Image</th>
      <th>Action</th>

    </tr>
  </thead>
  <tbody>
    {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.title}}</td>
      <td>{{this.date}}</td>
       <td>{{this.status}}</td>
      <td>
          <img class="img-fluid rounded-circle" src="/images/uploads/{{this.image}}" alt="">
      </td>
        <td>{{this.year}}</td>
  

      <td class="text-end">
          <a href="events/editEvent/{{this.id}}" type="button" class="btn btn-light btn-small m-1"> <i class="fa fa-pencil">Edit</i></a>
          <a href="events/deleteEvent/{{this.id}}" type="button" class="btn btn-light btn-small m-1"> <i class="fa fa-trash">Delete</i></a>
      
      </td>
      
    </tr>
    {{/each}}
    
  </tbody>
</table>
</div>
