

    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" value="{{this.name}}" name="name" placeholder="lead name">
        </div>
    </div>

    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="path" value="{{this.path}}" name="path" placeholder="path ">
        </div>
    </div>
     <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="description" value="{{this.description}}" name="description" placeholder="description">
        </div>
    </div>
     <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="year" value="{{this.year}}" name="year" placeholder="year">
        </div>
    </div>

      <div class="col-12">
        <div class="form-floating mb-3">
            <input type="file" class="form-control" id="image" value="{{this.image}}" name="image" accept="image/*" placeholder="image" required>
        </div>
    </div>


   

    <div class="col-12 ">
        <button class="btn btn-primary" type="submit">SUBMIT</button>
    </div>
 
 
  
